.form-control, .form-select {
    padding: .8rem .75rem;
    font-size: var(--font-14);
}
.form-control::placeholder {
    color: #bec8d0;
}

.form-control:focus, .form-select:focus {
    box-shadow: none;
    border-color: var(--secondary);
    /* background-color: rgb(232, 240, 254); */
}
.form-control[type=file] {
    line-height: 46px;
    padding: 0 0.75rem;
}
.search-bar {
    position: relative;
}
.search-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.search-icon i {
    font-size: 18px;
    color: #5b6b79;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}
.search-bar input {
    padding-left: 2.8rem;
}
.search-icon:hover i {
    color: var(--strong-green);
}
.form-control-color {
    width: 3.3rem;
    height: calc(1.5em + 1.6rem + 2px);
    padding: .8rem;
}
.form-switch .form-check-input {
    width: 2.3rem;
    height: 1.2rem;
    cursor: pointer;
}
.form-check-input:checked {
    background-color: var(--primary);
    border-color: var(--primary);
}
.form-check-input:focus {
    box-shadow: none;
}
.form-switch {
    display: flex;
    align-items: center;
    gap: 10px;
}
.form-check-input[type=checkbox] {
    border-radius: 4px;
    width: 19px;
    height: 19px;
    margin: 0;
}
.custom-checkbox, .custom-radio {
    display: flex;
    align-items: center;
    gap: 10px;
}
.custom-center-checkbox {
    justify-content: center;
}
.form-check-label{
    display: none;
}
.form-check-label, .form-check-input[type=checkbox], .form-check-input[type=radio] {
    cursor: pointer;
}
.form-check .form-check-input.input-light:checked[type=checkbox] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%232ca87f' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e")
}
.form-check .form-check-input.input-light:checked {
    border-color: #eaf6f2;
    background-color: #eaf6f2;
}
.form-check .form-check-input:focus {
    box-shadow: none;
    border-color: var(--primary);
}
.form-check .form-check-input.input-light:checked[type=radio] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%232ca87f'/%3e%3c/svg%3e");
}
.form-check-input.input-light[type=radio] {
    width: 1.25em;
    height: 1.25em;
}
.form-check .form-check-input.input-light:focus {
    box-shadow: none;
    border-color: var(--primary);
}
.form-input-group {
    margin-bottom: 25px;
}
.input-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    max-height: 115px;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: thin;

}
.input-list .custom-checkbox {
    font-size: 13px;
}
.form-label span {
    padding-left: 3px;
    font-size: 12px;
    color: var(--danger);
}
.input-tag-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
/* .input-tag-card {
    width: 120;
} */
.input-tag-card .input-tag-text {
    width: 100%;
    font-size: 12px;
    border-radius: 50px;
    padding: 7px 35px 7px 15px;
    display: flex;
    align-items: center;
    border: 0;
    position: relative;
    background: #dfe5d4;
    color: var(--primary);
}
.input-tag-card .input-tag-close {
    background-color: transparent;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;
    right: 6px;
    position: absolute;
    border: 0;
}
.input-tag-wrap .input-tag-close i {
    color: var(--danger);
}

.form-label {
    font-weight: 700;
}

.flex-container {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.subcategory-container {
    margin-top: 15px;
}

