
@import "coloring.css";
@import "datepicker.css";
@import "swiper-bundle.min.css";
@import "bootstrap.min.css";
@import "var.css";
@import "plugins.css";
@import "style.css";
@import "responsive.css";

@import url("../fonts/fontawesome4/css/font-awesome.css");
@import url("../fonts/fontawesome6/css/fontawesome.css");
@import url("../fonts/fontawesome6/css/brands.css");
@import url("../fonts/fontawesome6/css/solid.css");
@import url("../fonts/elegant_font/HTML_CSS/style.css");
@import url("../fonts/et-line-font/style.css");
@import url("../fonts/icofont/icofont.min.css");